html{
    height:50%;
    width:75%;
    display:flex;
    padding:20px;
    border-radius:30px;
}
#selected-drug-list{
    outline:40px;
    outline-color:#251E3E;
    height:flex;
    width:flex;
    border-radius:20px;
}
.fw-bold{
    color:#851E3E;
}
.ms-2{
    color:#251E3E;
}