/* Header Title */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  position: relative; /* Add this to establish a stacking context */
  font-family:'Courier New', Courier, monospace;
}


.img {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999; /* Ensure the image is on top */
  height: 5px;
}

.profile-small {
  width: 100px; /* Set the width of the image */
  height: auto; /* Maintain the aspect ratio */
  border-radius: 50%;
  border: 10px solid #251E3E;
}

* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;
  font-family:'Courier New', Courier, monospace;
}

.autocomplete {
  margin-top: 40px;
  position: relative;
  display: inline-block;
  font-family:'Courier New', Courier, monospace;
}

input {
  border: 1px solid transparent;
  background-color: #F1F1F1;
  padding: 10px;
  font-size: 16px;
  font-family:'Courier New', Courier, monospace;
}

input[type=text] {
  background-color: #F1F1F1;
  width: 100%;
  font-family:'Courier New', Courier, monospace;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
  font-family:'Courier New', Courier, monospace;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #D4D4D4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #D4D4D4;
}

.autocomplete-items div:hover {
  background-color: #E9E9E9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #FFFFFF;
}
.fw-bold{
  color:#251E3E;
}
.ms-2{
  color:#251E3E;
}
.list-group-item {
  background-color:#851E3E;
  color:#251E3E;
  padding:5px;
  border-width:5px;
  border-color:#451E3E;
  height:75%;
  width:flex;
}