.topnav {
  background-color: grey;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
header {
  display: flex;
  align-items: center;
  background-color: grey;
  padding: 10px 20px;
  font-family: "Courier New", Courier, monospace;
  justify-content: space-between;
}

.img {
  display: flex;
  align-items: center;
}

.profile-small {
  width: 120px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #251e3e;
  margin-right: 10px;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
}

.autocomplete {
  margin-top: 40px;
  position: relative;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
}

input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}

input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
  font-family:'Courier New', Courier, monospace;
  justify-content: center;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}
.center-text {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.chosen-text {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.search-button {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.fw-bold{
  color: black;
}
.ms-2{
  color: black;
}

#drug-info {
  height: 90%;
  width: 100%;
  display: flex;
  background-color: aliceblue;
}

#drug-info #interaction-display {
  background-color: #00ff96;
  width: 812.34px;
  height: 456px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: auto;
  border: 3px solid;
}

#drug-info #description {
  margin: 5px;
}

#drug-info #severity-info {
  margin: 5px;
}

#drug-info #source-info {
  margin: 5px;
}

#drug-info #drug1 {
  background-color: #ffff00;
  width: 541.56px;
  height: 304px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: auto;
  border: 3px solid;
}

#drug-info #drug1-info-ctnr {
  margin: 5px;
}

#drug-info #drug2-info-ctnr {
  margin: 5px;
}

#drug-info #drug-names-ctnr {
  display: flex;
  margin: 5px;
}

#drug-info #drug-icon {
  height: 30px;
  width: 30px;
}

#drug-info #severity-icon {
  height: 30px;
  width: 30px;
}

#drug-info #sources-icon {
  height: 70px;
  width: 70px;
}

#drug-info #interaction-data {
  height: 100px;
}

#drug-info #severity-data {
  height: 100px;
}

#drug-info #drug-names-title {
  display: flex;
  margin-top: 5px;
  margin-left: 5px;
  font-family: Lexend;
}

#drug-info #drug-names {
  display: flex;
  margin: 5px;
  font-family: Quicksand;
}

#drug-info #drug2 {
  background-color: #00a1ff;
  width: 541.56px;
  height: 304px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: auto;
  border: 3px solid;
}

#drug-info #disclaimer {
  display: flex;
  height: 20%;
  background-color: beige;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: auto;
  border: 3px solid;
  width: 98%;
}

#drug-info #disclaimer-text-box {
  margin: 5px;
}

#drug-info #space1 {
  width: 30px;
}

#drug-info #space2 {
  width: 30px;
}

#drug-info #space3 {
  width: 30px;
}

#drug-info #space4 {
  width: 30px;
}

.list-group-item {
  background-color: white;
  padding:5px;
  border-width:5px;
  height:75%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid black;
  margin: 8px;
  display: flex;
  justify-content:space-between
}
.delete-btn{
  height: fit-content;
  padding:8px;
  background-color:whitesmoke;
  border-radius:8px;
}

.card-body {
  margin: 8px;
  border: 1px solid;
  padding: 32px;
  border-radius: 10px;
}

.card-title {
  margin: 0 0 32px 0;
  font-size: 32px;
}

.card-subtitle {
  font-size: 24px;
  margin: 0 0 10px 0;
}
.heroel {
  background-image: url(family.jpg);
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: greenyellow;
}
.heroel h2{
  font-size:30px;
}

#disclaimer-text-box {
  font-size: 10px;
}